[Desktop Entry]
Encoding=UTF-8
Name=Link to  Books/
Type=Link
URL=http://cnhistoryonline.org/images/stories/Second_Grade/Books/
Icon=mate-fs-bookmark
